{% extends 'base.html.twig' %}

{% block title %}Edit AppartientA{% endblock %}

{% block body %}
    <section class="container">
    <h1>Edit AppartientA</h1>

    {{ include('appartient_a/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appartient_a_index') }}">back to list</a>

    {{ include('appartient_a/_delete_form.html.twig') }}
    </section>
{% endblock %}
