{% extends 'base.html.twig' %}

{% block title %}AppartientA{% endblock %}

{% block body %}
    <h1>AppartientA</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appartientum.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appartient_a_index') }}">back to list</a>

    <a href="{{ path('app_appartient_a_edit', {'id': appartientum.id}) }}">edit</a>

    {{ include('appartient_a/_delete_form.html.twig') }}
{% endblock %}
