name: CI

on:
  push:
    branches: [ "main", "master", "Outils" ]
  pull_request:
    branches: [ "main", "master", "Outils" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Installation de PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Installation des dépendances
        run: composer install --no-interaction --prefer-dist

      - name: Vérification du style (PHP CS Fixer)
        run: vendor/bin/php-cs-fixer fix --dry-run --diff

      - name: Lancement des tests
        run: vendor/bin/phpunit
